#communityBody{
    padding-bottom: 100px;
    background: url("../img/backImage/backImage1.png") no-repeat center fixed;
    background-size: 100%;
}
/*社区主页头部*/
.indexHeader{
    border: 1px solid lightgray;
    background-color: white;
}
/*内联框的主体*/
.iframeContext{
    border: 1px solid lightgray;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0
}
