html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*body下除了页脚的整体*/
#container{
    margin-bottom: 100px;
}
/*模态框样式设置*/
.modal-header{
    border-bottom: none;
}

/*第三方登录的图片*/
.thrid-part-login_img{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
}
.thrid-part-login img{
    width: 100%;
}

/*登录注册的表单*/
.inputForm{
    padding: 5%;
    margin-bottom: 50px;
}
.inputForm div{
    margin-top: 5%;
}
#registerContent{
    padding-bottom: 100px;
}

/*登录注册标签页按钮样式*/
.nav-tabs>li{
    width: 50%;
}
.nav-tabs>li>a{
    text-align: center;
}
/*GitHub用户图片*/
.userimg{
    width: 50px;
}
/*我 下拉菜单*/
.mineDropDownMenu{
    text-align: center;
    float: right;
}
/*用户下拉菜单本体*/
.userDropdownMenuConponent{
    text-align: center;
    min-width: 10px;
}
/*1级文本，标题*/
.textLevel1{

}
/*2级文本，描述*/
.textLevel2{
    font-size: 16px;
    font-weight: normal;
}
/*3级文本，浏览数，回复数等*/
.textLevel3{
    font-size: 12px;
    color: darkgray;
    font-weight: normal;
}
/*页脚，相对定位*/
.footer{
    margin-top: 50px;
    width: 100%;
    bottom:0;
    left:0;
    position:fixed;
    right:0;
}


.replayActive{
    margin-right: 20px;
    cursor: pointer;
}