body{
    padding-bottom: 100px;
    background: url("../img/backImage/backImage1.png") no-repeat center fixed;
    background-size: 100%;
}
.PostPageContext{
    background-color: white;
    border: 1px solid lightgray;
}
.pagePostContent{
    margin-top: 20px;
}
/*帖子详情页整个body部分*/
#correlationPost{
    margin-top: 20px;
}
/*正文部分*/
#textContent{

}
#postItemIcon{
    margin-bottom: 20px;
}
/*回复窗口*/
#replyArea{
    margin: 20px 0;
}
/*小组件样式*/
.postItemIcon{
    color: #999;
    font-size: 20px;
}
/*小组件样式*/
.postCommentItemIcon{
    color: #999;
    font-size: 10px;
    cursor:pointer;
}
a:hover{
    color: darkslateblue;
    text-decoration:none;
}
/*标签*/
#postTags{
    margin-top: 100px;
    margin-bottom: 10px;
}
#postTags a{
    margin-right: 5px;
}

/*帖子左边*/
#postPageleft{
    border-right: 2px solid #eee;
    margin-bottom: 20px;
}
#replyManInfo{
    font-size: 30px;
    padding-left: 0;
    margin-bottom: 10px;
}
/*帖子右边*/
#postPageRight{

}
/*帖子回复列表区域*/
#replyListArea{

}
/*评论的小物件主体*/
.commentBody{
    margin-top: 5px;
}
.commentBody .active{
    color: darkslateblue;
}
#replyContext{
    margin-bottom: 20px;
    margin-top: 30px;
}
/*二级评论样式*/
.seconderyReplyContext{
    background-color: #eef2f3;
    margin: 20px;
    border: 1px solid #DCDCDC;
    padding: 10px;
}
.seconderyReply{
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
.media-heading{
    margin-bottom: 15px;
}
.commentBody{
    margin-top: 15px;
    margin-bottom: 5px;
}
/*二级评论的回复按钮*/
#secondReplyButton{
    float: right;
    margin: 10px 0;
}