<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/img/labelIcon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/postPage.css">
    <link rel="stylesheet" href="/css/global.css">
    <script type="text/javascript" src="/js/postPage.js"></script>
    <script src="/js/moment.js"></script>
    <script type="application/javascript" src="/lib/editormd.min.js"></script>
    <script src="/lib/marked.min.js"></script>
    <script src="/lib/prettify.min.js"></script>
    <link rel="stylesheet" href="/lib/editormd.preview.min.css">


    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/editormd.css">
</head>
<body>
<div id="container">
    <div>
        <div th:insert="pageComponents::nav"></div>
        <div class=" container-fluid main">
            <div class="row">
                <div class="PostPageContext col-md-8 col-md-offset-2 col-xs-8 col-sm-8 col-lg-8">
                    <div class="pagePostContent">
<!--                        帖子主体左边-->
                        <div id="postPageleft" class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
                            <!--                            帖子正文-->
                            <div>
                                <div style="font-size: 30px">
                                    <input id="PostIdHidden" type="hidden" th:value="${post.id}">
                                    <span style="font-size: 23px" aria-hidden="true"
                                          th:text="${post.title}"></span><br>
                                    <span class="textLevel3">
                                        <a th:href="@{'/community?community_id='+${post.community_id}}">
                                            <span>所属社区</span>
                                        </a>
                                    <span th:text="${post.comment_count}"></span>个回复 ·
                                    <span th:text="${post.view_count}"></span>个浏览 ·
                                    <span th:text="${#dates.format(post.gmt_create,'yyyy-MM-dd HH:MM')}"></span>
                                </span>
                                </div>
                                <hr>
                                <div id="textContent">
                                    <div id="description-markdown-view">
                                        <textarea style="display:none;" th:text="${post.description}"></textarea>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function() {
                                        var testView = editormd.markdownToHTML("description-markdown-view", {});
                                    });
                                </script>
                                <div id="postTags">
                                    <a th:each="tag:${post.tags}" class="label label-info">
                                        <span th:text="${tag.tagtype}"></span>
                                    </a>
                                </div>
                                <hr>
                                <div id="postItemIcon" class="col-md-4 col-md-offset-4 col-xs-4 col-sm-4 col-lg-4">
                                    <a style="margin-right: 50px" class="postItemIcon" onclick="addLikeCount()">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"><span id="postLikeCount" class="badge" th:text="${post.like_count}"></span></span>
                                    </a>
                                    <a class="postItemIcon" href="">
                                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <!--                            帖子回复列表区域-->
                            <div id="replyListArea" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                <h3><span th:text="${post.comment_count}"></span> 个回复</h3>
                                <hr>

                                <div th:each="comment,commentIndex:${commentDTOList}" style="" class="media">
                                    <div class="media-left">
                                        <a href="">
                                            <img th:if="${comment.user.avatar != null}" style="width: 38px" class="media-object img-circle"
                                                 th:src="${comment.user.avatar}">
                                            <img th:if="${comment.user.avatar == null}" style="width: 38px" class="media-object img-circle"
                                                 src="/img/defaultUserIcon.png">
                                        </a>
                                    </div>
                                    <div class="media-body" th:id="${'comment-body-'+comment.id}">
                                        <a href=""><h5 class="media-heading" th:text="${comment.user.name}"></h5></a>
                                        <div>
                                            <span th:text="${comment.content}">
                                              </span>
                                        </div>

                                        <div class="commentBody">
                                            <div>
                                                <a th:id="'secondReplyLike-'+${comment.id}" th:data-id="${comment.id}" style="margin-right: 50px" class="postCommentItemIcon" onclick="commentAddLikeCount(this)" >
                                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"><span
                                                            style="font-size: 5px"
                                                            th:text="${comment.like_count}"></span></span>
                                                </a>
                                                <a class="postCommentItemIcon" onclick="collapseComments(this)"
                                                   th:id="'collapse-'+${comment.id}" th:data-id="${comment.id}">
                                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"><span
                                                            style="font-size: 5px"
                                                            th:text="${comment.comment_count}"></span></span>
                                                </a>
                                                <div class="postCommentItemIcon" style="float: right">
                                                    #<span th:text="${commentIndex.size -(commentIndex.index)}"
                                                           style="margin-right: 5px"></span>
                                                    <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:MM')}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        二级评论列表-->
                                        <div class="collapse seconderyReplyContext" th:id="${'comment-'+comment.id}">
                                            <div style="margin: 5px 0;padding-bottom: 50px">
                                                <input th:id="'secondReplyArea-'+${comment.id}" type="text"
                                                       class="form-control" placeholder="回复一下"/>
                                                <div id="secondReplyMessage" style="display:none;margin-bottom: 25px">
                                                    <button class="btn btn-lg btn-block btn-danger" disabled>
                                                        <h5 id="secondReplyMessageContext"></h5>
                                                    </button>
                                                </div>
                                                <button onclick="secondReply(this)" id="secondReplyButton"
                                                        th:data-id="${comment.id}" type="submit"
                                                        class="btn btn-success">发表
                                                </button>
                                                <div style="float:none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <script type="text/javascript">
                                    function replyContenReview(e) {
                                        var id = e.getAttribute("data-id");
                                        var testView = editormd.markdownToHTML("replyConten-markdown-view-"+id, {});
                                    };
                                </script>
                            </div>
                        </div>
<!--                        帖子主体右边-->
                        <div id="postPageRight" class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                <div style="font-size: 30px">
                                    <div>
                                        <img th:if="${post.user != null && post.user.avatar != null}" style="width: 38px" class="img-circle" th:src="${post.user.avatar}">
                                        <img th:if="${post.user == null || post.user.avatar == null}" style="width: 38px" class="img-circle" src="/img/defaultUserIcon.png">
                                        <a href=""><span class="textLevel2" th:text="${post.user.name}"></span></a>
                                    </div>
                                </div>
                                <hr>
                                <div id="recommendDiv">
                                    <h4 style="margin: 20px 0">推荐内容</h4>
                                    <div>
                                        <img class="img-thumbnail" style="width:150px" src="/img/mineBlog.png">
                                    </div>
                                </div>
                                <hr>
                                <div id="correlationPost">
                                    <h4 style="margin-bottom: 20px">相关帖子</h4>
                                    <div>
                                        <ul>
                                            <li th:each="post:${relatPost}">
                                                <a th:href="@{'/post/'+${post.id}}">
                                                    <span th:text="${post.title}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                            回复输入框区域-->
                        <div id="replyContext" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                            <div id="replyManInfo" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                <div>
                                    <img th:if="${session.user != null && session.user.avatar != null}" style="width: 38px" class="img-circle"
                                         th:src="${session.user.avatar}"/>
                                    <img th:if="${session.user == null || session.user.avatar == null}" style="width: 38px" class="img-circle"
                                         src="/img/defaultUserIcon.png">
                                    <a href="/profile/mineInfo" th:if="${session.user != null}"><span class="textLevel2"
                                                                                     th:text="${session.user.name}"></span></a>
                                    <a th:if="${session.user == null}" href=""><span class="textLevel2">游客</span></a>
                                </div>
                            </div>
                            <div id="replyArea">
                                <textarea id="replyContent" class="form-control" rows="3"
                                          placeholder="别让楼主寂寞~"></textarea>
                            </div>
                            <div id="repleyMessage" style="display:none;margin-bottom: 25px">
                                <button id="messageButton" class="btn btn-lg btn-block btn-danger" disabled>
                                    <h5 id="repleyMessageContext"></h5>
                                </button>
                            </div>
                            <button id="replyButton" style="float: right" type="submit" class="btn btn-success">回复
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--<div th:insert="pageComponents::foot"></div>-->
<footer class="footer" style="text-align: center;background-color: #ffffff;">
    <p>Posted by | <a target="_blank" href="https://www.github.com/iwishing">iwishing</a>></p>
    <p>Email:<a>cbwen1997@foxmail.com</a></p>
</footer>
</body>
</html>