<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/publish.css">
    <link rel="stylesheet" href="css/global.css">
    <script type="text/javascript" src="js/publish.js"></script>
</head>
<body>
<div>
    <div class="container-fluid main publishContext">
        <div class="row">
            <div>
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
                    <div style="border-bottom: 1px solid lightgray;font-size: 30px">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">发表</span>
                    </div>
                    <form action="publishPost" method="post">
                        <div class="form-group">
                            <label for="title">主题</label>
                            <input type="text" class="form-control" name="title" id="title" placeholder="主题">
                        </div>
                        <div class="form-group">
                            <label for="description">内容</label>
                            <textarea name="description" id="description" class="form-control" cols="30" rows="10" placeholder="内容"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags">标签</label>
                            <input type="text" class="form-control" name="tags" id="tags" placeholder="标签，使用/隔开">
                        </div>
                        <div id="publishMessage" style="display:none;margin-bottom: 25px">
                            <button  class="btn btn-lg btn-block btn-danger" disabled>
                                <h5 id="publishMessageContext"></h5>
                            </button>
                        </div>
                        <button id="publishButton" style="float: right" type="submit" class="btn btn-success">发表</button>
                    </form>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                    <span class="" aria-hidden="true">主题：描述帖子主题</span><br>
                    <span class="" aria-hidden="true">内容：帖子详细内容</span><br>
                    <span class="" aria-hidden="true">标签：帖子标签，使用/隔开，每个不超过10个字</span><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>