<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="iwishing.ccCommunity.community.mapper.ICommunityMapper">
    <resultMap id="communityMap" type="communityDTO">
        <id column="id" property="community_id"></id>
        <result column="creator" property="creator"></result>
        <result column="name" property="name"></result>
        <result column="description" property="description"></result>
        <result column="avatar" property="avatar"></result>
        <result column="focus_count" property="focus_count"></result>
        <result column="post_count" property="post_count"></result>
        <result column="gmt_create" property="gmt_create"></result>
        <result column="gmt_modified" property="gmt_modified"></result>
    </resultMap>
    <select id="findCommunityById" resultMap="communityMap">
        select * from community where id=#{community_id}
    </select>

    <resultMap id="defaultCommunityMap" type="communityDTO">
        <id column="id" property="community_id"></id>
        <result column="creator" property="creator"></result>
        <result column="name" property="name"></result>
        <result column="description" property="description"></result>
        <result column="avatar" property="avatar"></result>
        <result column="focus_count" property="focus_count"></result>
        <result column="post_count" property="post_count"></result>
        <result column="gmt_create" property="gmt_create"></result>
        <result column="gmt_modified" property="gmt_modified"></result>
    </resultMap>
    <select id="findCommunityDefault" resultMap="defaultCommunityMap">
        select * from community order by focus_count desc limit 0,10;
    </select>

    <!--    判断用户是否关注该社区-->
    <select id="findCommunitySubscription" resultType="int">
        select * from user_community where uid=#{userId} and cid=#{community_id};
    </select>
<!--    订阅-->
    <insert id="subscriptionCommunity">
        insert into user_community(uid, cid) VALUES (#{userId},#{community_id});
    </insert>
<!--    取消订阅-->
    <delete id="cancelSubscription">
        delete from user_community where uid=#{userId} and cid=#{community_id};
    </delete>
<!--  根据关键字查找社区-->
    <select id="findUserByKeyWord" parameterType="java.lang.String" resultType="Community">
        select id as community_id, creator, communityName, description, avatar, focus_count, post_count, gmt_create, gmt_modified
         from community where communityName like CONCAT('%',#{searchKeyWord},'%' );
    </select>
    <insert id="saveCommunity" parameterType="CommunityDTO">
        insert into community (creator, communityName, description, gmt_create, gmt_modified) VALUES
        (#{creator},#{communityName},#{description},#{gmt_create},#{gmt_modified})
    </insert>
</mapper>