<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="iwishing.ccCommunity.community.mapper.IPostMapper">
    <insert id="savePost" parameterType="postDTO">
        insert into post (title, community_id, description, creator, gmt_create, gmt_modified) VALUES (#{title},#{community_id},#{description},#{creator},#{gmt_create},#{gmt_modified});
    </insert>
    <insert id="saveTag" parameterType="java.util.List">
        insert into tag_Table (post_id, tagtype) VALUES
         <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.post_id},
            #{item.tagtype}
            )
        </foreach>
    </insert>

    <resultMap id="findPostMap" type="postDTO">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="description" column="description"></result>
        <result property="postLevel" column="postLevel"></result>
        <result property="creator" column="creator"></result>
        <result property="community_id" column="community_id"></result>
        <result property="comment_count" column="comment_count"></result>
        <result property="view_count" column="view_count"></result>
        <result property="like_count" column="like_count"></result>
        <result property="gmt_create" column="gmt_create"></result>
        <result property="gmt_modified" column="gmt_modified"></result>
        <collection property="tags" javaType="list" ofType="tag">
            <id property="id" column="tags.id"></id>
            <result property="tagtype" column="tagtype"></result>
        </collection>
    </resultMap>
    <select id="findAllByCommunityId" resultMap="findPostMap" parameterType="int">
        select post.*,tags.id,tags.tagtype from post left join tag_table as tags on post.id = tags.post_id where community_id=#{community_id};
    </select>
<!--根据参数，查询该页帖子-->
    <select id="findByCommunityId" resultType="PostDTO">
        select * from post where community_id=#{community_id} limit #{queryPage},#{size};
    </select>
<!--根据社区id查询社区总帖子数-->
    <select id="findNumByCommunityId" parameterType="int" resultType="int">
        select count(id) from post where community_id=#{community_id};
    </select>

<!--    根据帖子id查询标签-->
    <resultMap id="findTagByPostIdMap" type="Tag">
        <id column="id" property="id"></id>
        <result column="tagtype" property="tagtype"></result>
    </resultMap>
    <select id="findTagByPostId" parameterType="int" resultMap="findTagByPostIdMap">
        select * from tag_table where post_id=#{postId}
    </select>
<!--    根据用户id查询帖子-->
    <select id="findPostByUserId"  resultType="PostDTO">
        select * from post where creator=#{userId} limit #{queryPage},#{size};
    </select>
<!--    根据用户id查询所有帖子数-->
    <select id="findNumByUserId" parameterType="long" resultType="int">
        select count(id) from post where creator=#{userId};
    </select>

    <select id="findPostByPostId" resultMap="findPostMap" parameterType="int">
          select post.*,tags.id,tags.tagtype from post left join tag_table as tags on post.id = tags.post_id where post.id=#{postId};
    </select>
<!--增加浏览数-->
    <update id="addViewCountByPostId">
        update post set view_count=view_count+1 where id=#{postId}
    </update>
<!--增加回复数-->
    <update id="saveCommentCount" parameterType="int">
        update post set comment_count=comment_count+1 where id=#{postId};
    </update>
</mapper>